@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
<PageTitle>NextSpeed - Electric Unicycles & Scooters</PageTitle>

<style>
	.logo {
		font-size: 2rem;
		color: #ff6b6b;
		text-decoration: none;
		font-weight: bold;
		text-shadow: 0 0 10px rgba(255,107,107,0.5);
	}

</style>

<MudPaper Width="700" MinHeight="100vh" Class="pa-16">
	<a href="#" class="logo">NextSpeed</a>
	<br />
	<MudStack AlignItems="AlignItems.Center">
		<h1>Unleash the Power of Electric Mobility</h1>
		<br/>
		<h3>Experience the future of urban travel with our electric unicycles and scooters.
			<br/>We're not just selling vehicles;<br/> we're selling freedom, speed, and a sustainable way to navigate your city.
		</h3>
	</MudStack>
</MudPaper>
@code
{

}
