<footer >
	<p>&copy; 2024 NextSpeed. All rights reserved.</p>
	<div class="social-links450345">
		<a href="#">Facebook</a>
		<a href="#">Twitter</a>
		<a href="#">LinkedIn</a>
		<a href="#">Instagram</a>
	</div>
</footer>

<style>
	/* Footer background: #1a1a2e;  */
	footer {
		background: #1f2937; 
		color: white;
		padding: 1rem;
		text-align: center;
		z-index: -1;
	}

	.social-links450345 {
		margin-top: 1rem;
	}

	.social-links450345 a {
		color: white;
		text-decoration: none;
		margin: 0 0.5rem;
		font-size: 1.5rem;
	}

</style>

@code
{

}
